# PINATA (https://app.pinata.cloud/developers/api-keys)

PINATA_API_Key=""
PINATA_API_Secret=""
PINATA_JWT=""
NEXT_PUBLIC_IPFS_GATEWAY=""

# Blockchain Addresses
NEXT_PUBLIC_REXELL_ADDRESS=""
NEXT_PUBLIC_CUSD_ADDRESS=""
NEXT_PUBLIC_SOULBOUND_ADDRESS=""