node_modules
.env

# Python virtualenvs (created by ml-training/ work)
.venv/
.venv-*/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
